/*body {
	overflow: hidden;
}*/

/*textarea {
	background: transparent;
	color: white;
}*/

#submit-message-container {
	text-align: center;
}

#search {
	  background: url("../img/bg-pattern.png"), #7b4397;
	  /* fallback for old browsers */
	  background: -webkit-linear-gradient(to top, #155799, #136a8a);
	  /* Chrome 10-25, Safari 5.1-6 */
	  background: linear-gradient(to top, #155799, #136a8a);
}

#aboutheader {
	  background: url("../img/bg-pattern.png"), #7b4397;
	  /* fallback for old browsers */
	  background: -webkit-linear-gradient(to bottom, #155799, #136a8a);
	  /* Chrome 10-25, Safari 5.1-6 */
	  background: linear-gradient(to bottom, #155799, #136a8a);
}

#wordcloud-container {
	text-align: center;
}

.main-svg {
	background: rgba(255, 255, 255, 0.5);
}

.gl-canvas {
	position: fixed;
	z-index: 1;
}

.header-content-inner {
	z-index: 100;
}

#sentiment {
	text-align: center;
}